<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">If you are admin then click below</h5>
                <a routerLink="/login/admin" class="btn btn-primary">Admin Login</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">If you are guest user then click below</h5>
                <a routerLink="/login/user" class="btn btn-primary">Guest Login</a>
            </div>
        </div>
    </div>
</div>
